@model Allure.Web.Models.MainViewModel<Allure.Web.Models.ProductOutput>
@{
    var product = Model.BodyModel;
}

<link type="text/css" rel="stylesheet" href="/static/css/page/productDetail.css">
<link type="text/css" rel="stylesheet" href="/static/js/lib/jquery.magnify/magnify.css">
<script type="text/javascript" src="/static/js/lib/jquery.magnify/jquery.magnify.js"></script>


<!-- product detail start-->
<div class="al-prodcut-detail-wrap" ng-controller="AddProductController" data-product-id="@product.Id" data-product-number="@product.Number" data-product-name="@product.Name" data-product-brand="@product.Brand.Name" data-product-price="@product.Price" data-product-img-url="@product.Images.First().Url">
    <div class="al-prodcut-detail-area">
        <div class="al-prodcut-detail-info">
            <div class="detail">
                <div class="product">
                    <div class="left">
                        <div class="big">
                            <div class="large">
                                @for (int i = 0; i < product.Images.Length && i < 1; i++)
                                {
                                    <div class="img" style="height: 280.5px; display: table-cell;vertical-align:middle">
                                        <span>

                                            <a id="largeimghref" href="@(product.Images[i].Url)" target="view_window">
                                                <img src="@(product.Images[i].Url)" id="largeimg" class="zoom" data-magnify-src="@(product.Images[i].Url)" />
                                            </a>
                                        </span>
                                    </div>
                                }
                                    
                                
                            </div>
                            <div class="small">
                                @*@foreach (var img in product.Images.Where(i => !i.IsLargeImage))*@
                                @foreach (var img in product.Images)
                                {
                                    <div class="img">
                                        <span>
                                            <img src="@(img.ThumbnailUrl)" ng-click="changeImageUrl('@(img.Url)')" />
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    </div>
                    <div class="similar">
                        <div class="middle">
    <h3>@product.SubCategory.Parent.Localized.Description</h3>
    <p>@product.SubCategory.Localized.Description</p>
    <div class="line clearfix">
        <div>{{'BrandName' | translate}}: </div>
        <div>@product.Brand.Name</div>
    </div>
    <div class="line clearfix">
        <div>{{'ProductId' | translate}}: </div>
        <div>@product.Number</div>
    </div>
    <div class="line clearfix">
        <div>{{'ProductName' | translate}}:</div>
        <div>@product.Name</div>
    </div>

    <div class="line clearfix">
        <div>{{'Madein' | translate}}:</div>
        <div>@product.Locale.Localized.Name</div>
    </div>

    <div class="line clearfix">
        <div>{{'Number' | translate}}:</div>
        <div>
            <input type="text" maxlength="2" ng-model="product.number" class="form-control number">
        </div>
    </div>

    <div class="line price clearfix">
        <div>{{'Price' | translate}}:</div>
        <div>¥@product.Price</div>
    </div>

    <div class="add-car">
        @*<a href="/order" target="_blank" class="btn btn-primary buy" ng-click="addShopCar(@product.Id, $event)">{{'Buy' | translate}}</a>*@
        <button href="#" class="btn btn-primary btn-warning add-pro" role="button" ng-click="addShopCar(@product.Id, $event)">{{'Addtocar' | translate}}</button>
    </div>
</div>
                    </div>
                </div>

                <div class="product-introduction">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        @if (!string.IsNullOrWhiteSpace(product.VideoUrl))
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            {{'Video' | translate}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="video" style="text-align:center">
                                            <video width="100%" height="400" style="background: #000000" src="@product.VideoUrl" type="video/mp4" controls="controls"></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        {{'Description' | translate}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    @product.Localized.Descrption
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        {{'DeliveryTerm' | translate}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    @product.Localized.DeliveryTerm
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        {{'Comment' | translate}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    @product.Localized.Comment
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*展示关联产品的图片开始*@
                <div>
                    @foreach (var img in ViewBag.relatedProducts)
                    {
                        <label>@(img.Images[0].Url)</label>
                    }
                </div>
                @*展示关联产品的图片结束*@
            </div>
        </div>
    </div>
    <!-- product detail end-->
    <script type="text/javascript">

    var require = (function () {
        return {
            "callback": function () {

                var deps = ["require", "jquery"];

                require.config({
                    "waitSeconds": 0,

                    "baseUrl": "/static",

                    "packages": [
                        {
                            "name": "jquery",
                            "location": "js/lib/jquery",
                            "main": "jquery-1.9.1"
                        },
                        {
                            "name": "angular",
                            "location": "js/lib/angularjs",
                            "main": "angular"
                        },
                        {
                            "name": "angularjs-bootstrap",
                            "location": "js/lib/angularjs-bootstrap",
                            "main": "ui-bootstrap-tpls"
                        },
                        {
                            "name": "bootstrap",
                            "location": "js/plugin/bootstrap",
                            "main": "bootstrap"
                        },
                        {
                            "name": "mediaelement",
                            "location": "js/plugin/media",
                            "main": "mediaelement"
                        },
                        {
                            "name": "jquery-cookie",
                            "location": "js/plugin/jquery-cookie",
                            "main": "jquery-cookie"
                        },
                        {
                            "name": "shopCar",
                            "location": "js/app/shopCar",
                            "main": "main"
                        },
                        {
                            "name": "searchProduct",
                            "location": "js/app/searchProduct",
                            "main": "main"
                        },
                        {
                            "name": "addProduct",
                            "location": "js/app/productDetail",
                            "main": "addProductToShopCar"
                        },
                        {
                            "name": "productDetail",
                            "location": "js/app/productDetail",
                            "main": "main"
                        },
                        {
                            "name": "angular-translate",
                            "location": "js/lib/angularjs-translate",
                            "main": "angular-translate"
                        },
                        {
                            "name": "angular-translate-loader-static-files",
                            "location": "js/lib/angularjs-translate-loader-static-files",
                            "main": "angular-translate-loader-static-files"
                        },
                        {
                            "name": "jquery.magnify",
                            "location": "js/lib/jquery.magnify",
                            "main": "jquery.magnify"
                        }
                    ],

                    "shim": {
                        "bootstrap": {
                            deps: ["jquery"],
                            init: function ($) {
                                return $;
                            }
                        },
                        "angularjs-bootstrap": {
                            deps: ["angular"]
                        },
                        "angular-translate": {
                            deps: ["angular"],
                            init: function ($) {
                                return $;
                            }
                        },
                        "angular-translate-loader-static-files": {
                            deps: ["angular-translate"],
                            init: function ($) {
                                return $;
                            }
                        }
                    },

                    "deps": deps,

                    "callback": function (localRequire) {
                        localRequire(["jquery", "productDetail"], function (jQuery, ProductDetail) {
                            jQuery(document.body).ready(
                                function () {
                                    new ProductDetail();
                                });
                        });
                    }
                });
            }
        };
    })();
    </script>
