<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    </head>
    <body ng-controller="AllureProductController">
    <div id="wrapper">
        @Html.Partial(MVC.Shared.Views.PageHeader)
        @RenderBody()
        @Html.Partial(MVC.Shared.Views.PageFooter)
        @RenderSection("scripts", required: false)
    </div>
    </body>
</html>
