@model MainViewModel<OrderViewOutput>
@{
    var order = Model.BodyModel;
}
<link type="text/css" rel="stylesheet" href="/static/css/page/productOrder.css">

<!-- product Order edit start-->
  <div class="al-product-order-wrap">
    <div class="al-product-order-area">
      <div class="al-product-order-info" ng-controller="orderSubmitFormCtrl">
                <div ng-controller="alertCtrl" ng-cloak class="alert-area">
                  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
                <h3>user order</h3>
                <div class="product-order-form">
                    <form class="form-inline submit-order-form" name="submitOrderForm">
                        <div class="line">
                            <div class="form-group product-order">
                                <label for="orderNumber" ng-model="product.id" ng-init="product.id='@order.Id'">Order Id:</label>
                                @order.Id
                            </div>
                            <div class="form-group">
                                <label for="orderStatus">Order Status:</label>
                                @order.Status
                            </div>
                        </div>
                        <div class="validate-goods">
                            <h4 class="title">
                                <span>Validate Goods:</span>
                                <span class="arrow glyphicon glyphicon-chevron-down"></span>
                            </h4>
                            <div class="line-wrap">
                                <div class="line">
                                    <div class="form-group">
                                        <div class="radio">
                                            <label for="orderStatus">Order Check Status:</label>
                                            <label>
                                                <input type="radio" name="willCheck" ng-model="product.willCheck" value="0">
                                                <input type="radio" name="willCheck" ng-model="product.willCheck" value="1">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="line">
                                    <div class="form-group">
                                        <label for="orderStatus">check goods address:</label>
                                        <input type="text" name="checkAddress" id="checkAddress" ng-model="product.checkAddress" class="form-control size-5" ng-init="product.checkAddress='@order.CheckAddress'">
                                    </div>
                                </div>

                                <div class="line">
                                    <div class="form-group">
                                        <label for="orderStatus">Contact Call:</label>
                                        <input type="text" class="form-control" ng-model="product.checkContact" name="checkContact" id="checkContact" ng-init="product.checkContact='@order.CheckContact'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="delivery-info">
                            <h4 class="title">
                                <span>Delivery Info:</span>
                                <span class="arrow glyphicon glyphicon-chevron-down"></span>
                            </h4>
                            <div class="line-wrap">
                                <div class="line">
                                        <div class="form-group">
                                            <label for="receiverName">Receiver Name:</label>
                                            <input type="text" class="form-control" name="receiverName" ng-model="product.receiverName" id="receiverName" ng-init="product.receiverName='@order.ReceiverName'">
                                        </div>
                                        <div class="form-group">
                                            <label for="contactWay">Receiver Contact:</label>
                                            <input type="text" class="form-control" name="receiverContact" ng-model="product.receiverContact"  ng-init="product.receiverContact='@order.ReceiverContact'" id="receiverContact" value="@order.ReceiverContact">
                                        </div>
                                </div>
                                <div class="line">
                                    <div class="form-group">
                                        <label for="goodsAddress">Receiver Address:</label>
                                        <input type="text" class="form-control" name="receiverAddress" ng-model="product.receiverAddress" id="receiverAddress" ng-init="product.receiverAddress='@order.ReceiverAddress'" value="@order.ReceiverAddress">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order-detail">
                            <h4 class="title">
                                <span>Delivery Info:</span>
                                 <span class="arrow glyphicon glyphicon-chevron-down"></span>
                            </h4>
                            <div class="line-wrap">
                                <div class="line">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Goods Id</th>
                                  <th>Name</th>
                                  <th>Brand</th>
                                  <th>Price</th>
                                  <th>Discount</th>
                                  <th>Number</th>
                                  <th>Account</th>
                                </tr>
                              </thead>

                              <tbody>
                                  @foreach (var detail in order.Details)
                                    { 
                                        <tr>
                                            <td><a href="@Url.Action(MVC.Product.ActionNames.Index, new { id = detail.ProductId })">@detail.ProductId</a></td>
                                            <td>@detail.Product.Name</td>
                                            <td>@detail.Product.Brand.Name</td>
                                            <td>@detail.ProductPrice</td>
                                            <td>@detail.Count</td>
                                            <td>@detail.OriginalTotal</td>
                                            <td>@detail.Discount</td>                                                
                                            <td>@detail.RealCharge</td>
                                        </tr>
                                    }
                             </tbody>
                            </table>
                            <div class="order-account">
                                <div>
                                    <span>Account:</span>
                                    <span>@order.OriginalRealCharge</span>
                                </div>
                                <div>
                                    <span>Discount:</span>
                                    <span>@order.Discount</span>
                                </div>
                                <div>
                                    <span>Cash:</span>
                                    <span>@order.RealCharge</span>
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>

                        <div class="pay-info">
                            <h4 class="title">
                                <span>Pay Info:</span>
                                 <span class="arrow glyphicon glyphicon-chevron-down"></span>
                            </h4>
                            <div class="line-wrap">
                                <div class="line">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span>pay cash:</span>
                                        <span>$0.00</span>
                                        <span class="pay-received">payment received:</span>
                                        <span><input type="checkbox"/></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>Pay deadline:</span>
                                        <span>7/27/14</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <span>pay cash:</span>
                                        <span>$0.00</span>
                                        <span class="pay-received">remaining sum:</span>
                                        <span><input type="checkbox"/></span>
                                    </div>
                                    <div class="col-md-4">
                                        <span>Pay deadline:</span>
                                        <span>7/27/14</span>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                        @if(order.Status == OrderStatus.New)
                        {
                        <div class="order-submit">
                            <input type="submit" ng-click="submitOrder($event)" class="btn btn-primary" value="Edit"/>
                        </div>
                        }
                    </form>
                </div>
      </div>
    </div>
  </div>
<!-- productOrder order edit end-->
<script type="text/javascript">
    var require = (function () {

        return {
            "callback": function () {

                var deps = ["require", "jquery"];

                require.config({
                    "waitSeconds": 0,

                    "baseUrl": "/static",

                    "packages": [
                        {
                            "name": "jquery",
                            "location": "js/lib/jquery",
                            "main": "jquery-1.9.1"
                        },
                        {
                            "name": "angular",
                            "location": "js/lib/angularjs",
                            "main": "angular"
                        },
                        {
                            "name": "angularjs-bootstrap",
                            "location": "js/lib/angularjs-bootstrap",
                            "main": "ui-bootstrap-tpls"
                        },
                        {
                            "name": "bootstrap",
                            "location": "js/plugin/bootstrap",
                            "main": "bootstrap"
                        },
                        {
                            "name": "mediaelement",
                            "location": "js/plugin/media",
                            "main": "mediaelement"
                        },
                        {
                            "name": "jquery-cookie",
                            "location": "js/plugin/jquery-cookie",
                            "main": "jquery-cookie"
                        },
                        {
                            "name": "jquery-validate",
                            "location": "js/plugin/validate",
                            "main": "jquery-validate"
                        },
                        {
                            "name": "shopCar",
                            "location": "js/app/shopCar",
                            "main": "main"
                        },
                        {
                            "name": "addProduct",
                            "location": "js/app/productDetail",
                            "main": "addProductToShopCar"
                        },
                        {
                            "name": "editOrder",
                            "location": "js/app/order/detail",
                            "main": "main"
                        }
                    ],

                    "shim": {
                        "bootstrap": {
                            deps: ["jquery"],
                            init: function($) {
                                return $;
                            }
                        },
                        "jquery-validate": {
                            deps: ["jquery"],
                            init: function ($) {
                                return $;
                            }
                        },
                        "angularjs-bootstrap": {
                            deps: ["angular"]
                        }
                    },

                    "deps": deps,

                    "callback": function (localRequire) {
                        localRequire(["jquery", "editOrder"], function (jQuery, EditOrder) {
                            jQuery(document.body).ready(
                                function(){
                                    new EditOrder();
                            });
                        });
                    }
                });
            }
        };
    })();
</script>