@using Allure.Web.Controllers
@model Allure.Web.Models.MainViewModel<Allure.Web.Models.OrderOutput[]>
@{
    var orders = this.Model.BodyModel;
}
<link type="text/css" rel="stylesheet" href="/static/css/page/orderList.css">
<div class="al-order-list-wrap">
    <div class="al-order-list-area">
        <div class="al-order-list-info">

            <div class="order-list-tabel-wrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{'OrderId' | translate}}</th>
                            <th>{{'Summary' | translate}}</th>
                            <th>{{'TotalPrice' | translate}}</th>
                            <th>{{'Status' | translate}}</th>
                            <th>{{'CreateTime' | translate}}</th>
                            <th>{{'UpdateTime' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in orders)
                        { 
                            <tr>
                                <td><a href="@Url.Action(Allure.Web.Controllers.ViewNamesClass.Detail, new { id = order.Id })" target="_blank">@order.OrderNO</a></td>
                                <td><a href="@Url.Action(Allure.Web.Controllers.ViewNamesClass.Detail, new { id = order.Id })" target="_blank">@order.Summary</a></td>
                                <td>¥@order.RealCharge.ToString("#0.00")</td>
                                <td>{{'@order.Status' | translate}}</td>
                                <td>@order.CreateTime</td>
                                <td>@order.UpdateTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var require = (function () {

        return {
            "callback": function () {
                var deps = ["require", "jquery"];

                require.config({
                    "waitSeconds": 0,

                    "baseUrl": "/static",

                    "packages": [
                        {
                            "name": "jquery",
                            "location": "js/lib/jquery",
                            "main": "jquery-1.9.1"
                        },
                        {
                            "name": "angular",
                            "location": "js/lib/angularjs",
                            "main": "angular"
                        },
                        {
                            "name": "angularjs-bootstrap",
                            "location": "js/lib/angularjs-bootstrap",
                            "main": "ui-bootstrap-tpls"
                        },
                        {
                            "name": "bootstrap",
                            "location": "js/plugin/bootstrap",
                            "main": "bootstrap"
                        },
                        {
                            "name": "mediaelement",
                            "location": "js/plugin/media",
                            "main": "mediaelement"
                        },
                        {
                            "name": "jquery-cookie",
                            "location": "js/plugin/jquery-cookie",
                            "main": "jquery-cookie"
                        },
                        {
                            "name": "shopCar",
                            "location": "js/app/shopCar",
                            "main": "main"
                        },
                        {
                            "name": "searchProduct",
                            "location": "js/app/searchProduct",
                            "main": "main"
                        },
                        {
                            "name": "orderList",
                            "location": "js/app/order/list",
                            "main": "main"
                        },
                        {
                            "name": "angular-translate",
                            "location": "js/lib/angularjs-translate",
                            "main": "angular-translate"
                        },
                        {
                            "name": "angular-translate-loader-static-files",
                            "location": "js/lib/angularjs-translate-loader-static-files",
                            "main": "angular-translate-loader-static-files"
                        }
                    ],

                    "shim": {
                        "bootstrap": {
                            deps: ["jquery"],
                            init: function($) {
                                return $;
                            }
                        },
                        "angularjs-bootstrap": {
                            deps: ["angular"]
                        },
                        "angular-translate": {
                            deps: ["angular"],
                            init: function ($) {
                                return $;
                            }
                        },
                        "angular-translate-loader-static-files": {
                            deps: ["angular-translate"],
                            init: function ($) {
                                return $;
                            }
                        }
                    },

                    "deps": deps,

                    "callback": function (localRequire) {
                        localRequire(["jquery", "orderList"], function (jQuery, orderList) {
                            jQuery(document.body).ready(
                                function(){
                                    new orderList();
                            });
                        });
                    }
                });
            }
        };
    })();
</script>